/*
 * Responsive styles to screens with 800px width or less.
 */

/* 800px */
@media (max-width: 50em) {
  .main { height: 34.75rem; }

  .section {
    flex-direction: column;
    gap: 2.5vw;
    height: 95%;
  }

  .form { width: 90%; }
  
  .section__result { width: 90%; }
}

/* 480px */
@media (max-width: 30em) {
  .header > .title { margin-bottom: 1.3%; }

  .title { font-size: 1.125rem; /* 18px */ }

  .title.title--small { font-size: .875rem; /* 14px */ }

  .btn { font-size: .9375rem; /* 15px */ }

  .header__text { font-size: .9375rem; /* 15px */ }

  .form { padding: 1.8%; }

  .form__label { font-size: .875rem; /* 14px */ }

  .footer__content { font-size: .875rem; /* 14px */ }

  .footer__content > span { font-size: .8125rem; /* 14px */ }
}
