/*
 * 1. General styles
 * 2. Header
 * 3. Main
 */


/*
 * 1. General styles
 */

:root {
  --ff-roboto-mono-400: 'Roboto Mono', monospace;

  --clr-primary: #1d3557;
  --clr-secondary: #e63946;
  --clr-tertiary: #e76f51;

  --clr-white: #fff;
  --clr-white-second: rgba(241, 250, 238, .8);
  --clr-black: #000;
  --clr-black-second: #2c2929;
}

body {
  font-family: var(--ff-roboto-mono-400);
  color: var(--clr-black);
  background: var(--clr-primary) url(../images/f4gokvsyrh.jpg) center/cover no-repeat;
}

.container {
  width: 100%;
  max-width: 980px;
  min-height: 100%;
  margin: auto;
  padding: 2.5%;
}

.title {
  font-size: 1.875rem; /* 30px */
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
}


/*
 * 2. Header
 */

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2.5%;
  margin-bottom: 5%;
  background-color: var(--clr-white-second);
  border-top-left-radius: .9rem;
  border-bottom-right-radius: .9rem;
  box-shadow:
    0 0 3px 2px var(--clr-black),
    0 0 4px 2px var(--clr-white);
}

.header > .title { margin-bottom: 1.3%; }

.header__text {
  width: 90%;
  margin: auto;
  line-height: 1.2;
}

.header__text span { color: var(--clr-secondary); }

.header__text  a {
  color: var(--clr-black-second);
  text-decoration: underline .1rem;
  transition: 200ms ease-out;
}

.header__text  a:hover { color: var(--clr-secondary); }

.header__text  a[target="_blank"]::after {
  content: url(../images/icon-external.svg);
  margin-left: .3rem;
}

.header__text  a[target="_blank"]:hover::after { content: url(../images/icon-external-blue.svg); }


/*
 * 3. Main
 */


 
.form__field#increment-field { display: flex; }

.form__field.form__field--hide#increment-field { display: none; }

.section__wrapper-message {
  position: relative;
  display: inline-block;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .3);
}

.section__wrapper-message:hover { box-shadow: 0 0 3px 2px rgba(0, 0, 0, .3); }

.section__message { display: none; /* Changes on JS. */ }

.section__copy-clipboard {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

#copy-info {
  display: none; /* Changes on JS. */
  padding: 2px;
  font-size: 10px;
  border: 1px dashed rgba(0, 0, 0, .3);
  border-radius: 2px;
}

#copy-btn {
  display: none; /* Changes on JS. */
  cursor: pointer;
  transition: 200ms cubic-bezier(.42,0,.97,2.94);
}

#copy-btn:hover { transform: scale(1.1); }
