/*
 * 1. General styles
 * 2. Header
 * 3. Main
 * 4. Footer
 */


/*
 * 1. General styles
 */

:root {
  --ff-roboto-mono-400: 'Roboto Mono', monospace;

  --clr-primary: #1d3557;
  --clr-secondary: #e63946;
  --clr-tertiary: #e76f51;

  --clr-white: #fff;
  --clr-white-second: rgba(241, 250, 238, .8);
  --clr-black: #000;
  --clr-black-second: #2c2929;
  
  --bs-scrollbar: inset 0 0 6px rgba(0, 0, 0, .3);
  --bd-input: #e44821;
}

::-webkit-scrollbar-track {
  border-radius: .625rem;
  background-color: var(--clr-white-second);
  -webkit-box-shadow: var(--bs-scrollbar);
          box-shadow: var(--bs-scrollbar);
}

::-webkit-scrollbar { width: .625rem; }

::-webkit-scrollbar-thumb {
  border-radius: .625rem;
  background-color: var(--clr-tertiary);
  -webkit-box-shadow: var(--bs-scrollbar);
          box-shadow: var(--bs-scrollbar);
}

*::selection {
  color: var(--clr-white);
  background-color: var(--clr-primary);
}

html {
  scroll-behavior: smooth;

  /* Scrollbar compatibility for Firefox/Safari/Chrome */
  scrollbar-width: thin;
  scrollbar-color: var(--clr-tertiary) var(--clr-white-second);
}

body {
  font-family: var(--ff-roboto-mono-400);
  color: var(--clr-black);
  background: var(--clr-primary) url(../images/f4gokvsyrh.jpg) center/cover fixed no-repeat;
}

strong { font-weight: 700; }

.container {
  width: 100%;
  max-width: 980px;
  min-height: 100%;
  margin: auto;
  padding: 2.5%;
}

.box {
  padding: 2.5%;
  margin-bottom: 4%;
  background-color: var(--clr-white-second);
  border-top-left-radius: .9rem;
  border-bottom-right-radius: .9rem;
  box-shadow:
    0 0 3px 2px var(--clr-black),
    0 0 4px 2px var(--clr-white);
}

.box:last-child { margin-bottom: 0; }

.title {
  font-size: 1.875rem; /* 30px */
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.title.title--small { font-size: 1rem; /* 16px */ }

.title.title--small#msg-title {
  position: absolute;
  left: .5em;
  top: -.625em;
  display: inline-block;
  padding: .125rem;
  text-align: left;
  background-color: var(--clr-white);
  border-radius: .1875rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.btn {
  padding: .625em;
  font-size: 1rem; /* 16px */
  font-weight: 700;
  border: .125em solid var(--clr-tertiary);
  border-radius: .625em;
  background-color: transparent;
  cursor: pointer;
  transition: 350ms;
}

.btn:hover,
.btn:focus {
  color: var(--clr-white);
  box-shadow: inset 16.5em 0 0 0 var(--clr-tertiary);
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/*
 * 2. Header
 */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header > .title { margin-bottom: 1.3%; }

.header__text {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
}

.header__text span { color: var(--clr-secondary); }

.header__text  a {
  color: var(--clr-black-second);
  text-decoration: underline .1rem;
  transition: 200ms ease-out;
}

.header__text  a:hover,
.header__text  a:focus { color: var(--clr-secondary); }

.header__text  a[target="_blank"]::after {
  content: url(../images/icon-external.svg);
  margin-left: .3rem;
}

.header__text  a[target="_blank"]:hover::after,
.header__text  a[target="_blank"]:focus::after { content: url(../images/icon-external-blue.svg); }


/*
 * 3. Main
 */

.main {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 21.5rem;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 1vw;
}

.form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 45%;
  padding: 1.5%;
  gap: .6rem;
  border: .3rem solid var(--clr-primary);
  border-radius: 1rem;
}

.form > .btn {
  align-self: center;
  margin-top: .625em;
}

.form__field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: .1875rem;
}

.form__label { font-weight: 700; }

.form__label > span { color: var(--clr-secondary); }

.form__input[type="number"],
.form__input[type="text"],
.form__select {
  width: 100%;
  padding: .4em;
  font-size: .875rem; /* 14px */
  border: 1px solid transparent;
  border-radius: .7em;
  transition: 250ms;
}

.form__input[type="number"]:focus,
.form__input[type="text"]:focus,
.form__select:focus {
  color: var(--clr-white);
  background-color: var(--clr-tertiary);
  border: 1px solid var(--bd-input);
}

.form__input[type="number"] { text-align: center; }

.form__select { cursor: pointer; }

.form__field.form__field--radio {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.form__input[type="radio"] {
  --size: .9375rem; /* 15px */

  position: relative;
  top: .125rem;
  width: var(--size);
  height: var(--size);
  margin-right: -5px;
  border: .125rem solid var(--clr-black-second);
  border-radius: 50%;
  cursor: pointer;
  transition: 200ms ease-in;
}

.form__input[type="radio"]:checked { border: 4px inset var(--clr-tertiary); }

.form__input[type="radio"] + label { cursor: pointer; }

.section__result { width: 45%; }

.section__wrapper-message {
  position: relative;
  width: 100%;
  height: 12.5rem; /* To force scroll when the message is very large. */
  padding: 5%;
  border-radius: .625rem;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, .3);
}

.section__wrapper-message:hover { box-shadow: 0 0 3px 2px rgba(0, 0, 0, .3); }

.section__wrapper-message:hover #copy-btn { opacity: 1; }

.section__message {
  display: none; /* Changes on JS. */
  padding: .125rem;
  height: 100%;
  font-size: .9375rem; /* 15px */
  font-weight: 700;
  line-height: 1.2em;
  overflow-y: auto;

  /* Scrollbar compatibility for Firefox/Safari/Chrome */
  scrollbar-width: thin;
  scrollbar-color: var(--clr-tertiary) var(--clr-white-second);
}

.section__copy-clipboard {
  position: absolute;
  right: .625rem;
  top: -.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .1875rem;
}

#copy-info {
  display: none; /* Changes on JS. */
  padding: .2em;
  font-size: .625rem; /* 10px */
  border: .2em solid rgba(0, 0, 0, .3);
  background-color: var(--clr-white);
  border-radius: .5em;
}

#copy-btn {
  display: none; /* Changes on JS. */
  padding-left: .3125em;
  padding-right: .3125em;
  font-size: 1rem; /* 16px */
  border-radius: .3125em;
  opacity: .6;
  cursor: pointer;
  transition: 
    transform 200ms cubic-bezier(.42,0,.97,2.94),
    opacity 200ms;
}

#copy-btn:hover { transform: scale(1.1); }


/*
 * 4. Footer
 */

.footer { text-align: center; }

.footer__content { line-height: 1.2em; }

.footer__content > a {
  color: var(--clr-black-second);
  transition: 250ms;
}

.footer__content > a:hover,
.footer__content > a:focus { color: var(--clr-secondary); }
